@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap');

:root {

	--font-titulo: "Kode Mono", monospace;
	--font-botao: "Pixelify Sans", sans-serif;


	--cor-fonte: whitesmoke;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/papeldeparede.jpg);
	background-position: center;
	background-size: cover;
}

.cabecalho {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.5rem;
	gap: 0.6rem;
}

.cabecalho-pontuacao {
	width: 4rem;
	height: 4rem;
}

#v {
	text-align: center;
	font-family: var(--font-botao);
	font-size: 2.5rem;
	background-color: #66BB6A;
	color: white;
}

#d {
	text-align: center;
	font-family: var(--font-botao);
	font-size: 2.5rem;
	background-color: #D24545;
	color: white;
}

#cabecalho-dificuldade {
	font-family: var(--font-titulo);
	font-size: 1rem;
    pointer-events: auto;
}

#cabecalho-dificuldade:disabled {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	pointer-events: none;
	background-color: white;
	color: black;
}

.container {
	box-sizing: border-box;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 4rem;
	margin-bottom: 5rem;
}

.titulo {
	font-family: var(--font-botao);
	color: var(--cor-fonte);
	font-size: 2rem;
	font-weight: 600;
}

.apresentacao {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(3);
	grid-template-rows: repeat(3);
	align-items: center;
	justify-content: center;
	border: solid 1px;
}

.celula {
	border: solid 1px;
	height: 3rem;
	width: 4rem;
	text-align: center;
	font-family: var(--font-botao);
	font-size: 1.2rem;
	border: solid 1px black;
}

.celula:disabled{
	background-color: gray;
}

#celula-1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#celula-2 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#celula-3 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

#celula-4 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#celula-5 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#celula-6 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

#celula-7 {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

#celula-8 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

#celula-9 {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

.resultado {
	font-family: var(--font-botao);
	font-size: 1.5rem;
	color: var(--cor-fonte);
}

.botoes-click {
	font-family: var(--font-botao);
	font-weight: 400;
	font-size: 1.2rem;
	padding: 5px;
	color: var(--cor-fonte);
	background-color: #66BB6A;
	cursor: pointer;
}

.botoes-click:disabled{
	background-color:  #CCCCCC;
	color: gray;
	cursor: not-allowed;
}

.rodape {
	font-family: var(--font-titulo);
	font-size: 1.2rem;
	text-align: center;
	background-color: black;
	color: white;
	margin-top: auto;
	width: 100%;
    position: fixed;
    bottom: 0;
}